Repository magicink/connect-n: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc.json:

{
  "*.{cjs,js,json,jsx,md,mdx,mjs,ts,tsx}": "prettier --write",
  "**/package.json": "sort-package-json"
}

chore: removed yarn.lock file
  yarn.lock
Due: none

chore: removed yarn.lock file
  .gitignore
Due: none

chore: regenerated lock file
  .gitignore
  yarn.lock
Due: none

chore: removed jade template
  src/jade/index.jade
  src/js/ui.js
Due: prettier --write

feat: Board now stores all winning tiles
  src/Board.ts
Due: prettier --write

chore: updated package structure
  package.json
Due: prettier --write, sort-package-json

chore: added unit test
  src/Board.test.ts
Due: prettier --write

chore: added unit test
  src/Game.test.ts
Due: prettier --write

feat: docker image now uses over/bun instead of node:lts
  Dockerfile
Due: none

chore: added .dockerignore
  .dockerignore
Due: none

feat: added storybook
  .babelrc.json
  .dockerignore
  .storybook/main.ts
  .storybook/preview.ts
  Dockerfile
  docker-compose.yml
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json

chore: refactored code
  src/Board.ts
Due: prettier --write

chore: updated corepack usage in dockerfile
  Dockerfile
Due: none
